# yamllint disable rule:line-length
# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle
# yamllint enable rule:line-length
---

name: Java CI Tests with Gradle + JUnit Jupiter

on: # yamllint disable-line rule:truthy
  push:
    branches: ["main"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    name: Java Gradle CI Test JUNit Jupiter

    strategy:
      matrix:
        os: ["windows-2022", "ubuntu-24.04", "macos-14"]
        java: ['22', '23', '24']
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin

      - name: Tool test
        run: |
          echo "Java version: ${{ matrix.java }}"
          java -version
          echo "OS: ${{ matrix.os }}"
          echo "Gradle version:"
          ./gradlew --version
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Clean
        run: ./gradlew --console=verbose clean

      - name: Run tests
        run: ./gradlew --console=verbose test -x checkstyleMain checkstyleTest
