# yamllint disable rule:line-length
# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle
# yamllint enable rule:line-length
---

name: Java CI Coverage with Gradle

on: # yamllint disable-line rule:truthy
  push:
    branches: ["main"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  coverage:
    name: Java CI Coverage with Gradle
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6.0.2
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 24
          # Alternative distribution options are available
          distribution: temurin
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run tests
        run: ./gradlew --console=verbose test -x checkstyleMain checkstyleTest

      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # required
          verbose: true # optional (default = false)
